#box{
    border: 5px;
    border-style: solid;
    border-color: lightblue;
    padding: 20px;
    width: 250px;
    height: 350px;
    margin: auto;
    background-color: #CFFFF6
}

#box h3{
text-align: left;
}
body{
background-color:#FFF5EE ;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;
}

.center h2{
    text-align: center;
    padding: 0 0 20px 0;
    font-family: 'Times New Roman', Times, serif;

}

input[type="password"]{
    margin-bottom: 75%;
    width: 70%;
    height: 17px;
    border-color: #CFFFF6;
    border-style: none;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}
.center label{
    font-family: 'Times New Roman', Times, serif;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-color: lightblue;
    border-radius: 15px;
    font-size: 16px;
    background-color: lightgreen;
}
input[type="submit"]:hover{
    border-color: black;
    
}